@import url('https://fonts.cdnfonts.com/css/open-dyslexic');
@import "constants.scss";
@import "color-light-1.scss";
@import "color-dark-1.scss";
@import "retina.scss";

body {
    color: var(--text-fg);
    background-color: var(--text-bg);
    font: 12pt Arial, sans-serif;
    word-spacing: 1pt;

    article#--internal-main {
        margin: 0.4in auto;
        max-width: 7in;
        outline: 0.5px solid var(--text-em);
        padding-bottom: 1em;
    }

    h1, h2, h3, h4, h5, h6, a, .em-demo { color: var(--text-fg); }

    p, ul, blockquote, div.footnote-definition {
        margin-left: var(--mside);
        margin-right: var(--mside);
    }

    h1, h2, h3, h4, h5, h6, pre {
        padding-left: var(--mside);
        padding-right: var(--mside);
    }

    h1 {
        font: 200% Georgia, serif;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .02em;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: .8em;
    }

    h1, .min-demo>code {
        background: linear-gradient(180deg,
            rgba(109,106,151,0.8) 0%,
            rgba(109,106,151,0.27) 40%,
            rgba(109,106,151,0.1) 60%,
            rgba(109,106,151,0) 80%);
    }

    h2 {
        font: 125% Georgia, serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: .05em;
        margin-block: .8em;
    }

    h3 {
        font: 125% Georgia, serif;
        font-style: italic;
        font-weight: normal;
        letter-spacing: .05em;
        margin-block: .8em;
    }

    h4 {
        font: 110% Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: .06em;
        margin-block: .67em;
    }

    h5 {
        font: 110% Arial, sans-serif;
        font-style: italic;
        font-weight: normal;
        letter-spacing: .06em;
        margin-block: .67em;
    }

    h6 {
        font: 110% Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: .1em;
        margin-block: .75em;
    }

    p, li {
        font: 100% Arial, sans-serif;
        letter-spacing: .1em;
        line-height: 1.75;
    }

    p {
        margin-block: .5em;
        &.simple-toc-label:has(+.simple-toc) {
            margin-bottom: 0;
            &+.simple-toc { margin-top: 0; }
        }
        &.simple-pages-label:has(+.simple-pages) {
            margin-bottom: 0;
            &+.simple-pages { margin-top: 0; }
        }
    }

    .sp-demo { letter-spacing: .1em; }

    strong {
        color: var(--text-em2);
        font-weight: inherit;
    }

    em {
        color: var(--text-em);
        font-style: normal;
    }

    del {
        text-decoration: var(--decor-line-width) line-through;
    }

    a {
        color: inherit;
        text-decoration: var(--decor-line-width) underline;
    }

    cite {
        color: var(--text-cite);
        font-style: normal;
        font-weight: normal;

        strong {
            color: inherit;
            font-weight: bold;
        }

        em {
            color: inherit;
            font-style: italic;
        }
    }

    button {
        font-size: 100%;
        text-align: center;
        color: inherit;
        background-color: var(--text-bg2);
        border: none;
        min-width: 2em;
        min-height: 2em;
        border-radius: 1em;
        padding: 0 0.6em;
        margin: 0.3em;
        box-shadow: inset var(--skeuo-hor-neg) var(--skeuo-vert-neg) var(--skeuo-blur) var(--shadow);
        &:hover {
            background-color: var(--text-bg);
        }
        &:active {
            box-shadow: inset var(--skeuo-hor-pos) var(--skeuo-vert-pos) var(--skeuo-blur) var(--shadow);
            background-color: var(--text-bg);
            // box-shadow: 0 0 .5em var(--text-em2);
        }
    }

    code {
        border: 0.5px solid var(--text-fg);
        margin: -4px -0.5px;
        padding: 2px 3px;
        font-family: 'Jetbrains Mono', Monaco, Consolas, monospace;
        font-size: 90%;
        letter-spacing: .05em;
    }

    pre {
        padding-top: 4px;
        padding-bottom: 4px;
        overflow-x: auto;
        color: var(--text-fg);
        background-color: var(--text-bg2);
        letter-spacing: .05em;

        code {
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
        }
    }

    blockquote {
        padding: 0;
        border-left: .025in solid var(--text-fg);

        :first-child { margin-block-start: 0; }
        :last-child { margin-block-end: 0; }
        &.simple-toc, &.simple-pages {
            border-color: var(--text-em2);
            margin-left: var(--mside-large);
            &:empty {
                &::before {
                    content: "(nothing here)";
                    margin-left: var(--mside);
                }
            }
            p {
                margin-block: 0;
                line-height: 1.3;
                &.header2 { margin-left: var(--mside-x2); }
                &.header3 { margin-left: var(--mside-x3); }
                &.header4 { margin-left: var(--mside-x4); }
                &.header5 { margin-left: var(--mside-x5); }
                &.header6 { margin-left: var(--mside-x6); }
            }
        }
    }

    ul, ol {
        color: var(--text-fg);
    }

    div.footnote-definition {
        border-width: 0.5px;
        border-color: var(--text-em);
        border-style: dashed none;
        .footnote-definition-label {
            display: inline-block;
            float: left;
            margin-block: .5em;
        }
        &+div.footnote-definition {
            border-top: none;
            .footnote-definition-label { margin-top: 0; }
        }
        &:has(+div.footnote-definition) { border-bottom: none; }
    }

    &>div.footnote-definition:last-child { border-bottom: none; }
}

body.color-dark-1 {
    button {
        box-shadow: inset var(--skeuo-hor-pos) var(--skeuo-vert-pos) var(--skeuo-blur) var(--shadow);
        &:active {
            box-shadow: inset var(--skeuo-hor-neg) var(--skeuo-vert-neg) var(--skeuo-blur) var(--shadow);
            background-color: var(--text-bg2);
        }
    }
}

body.more-emphasis {
    h1, h2, h3, h4, h5, h6, a, *.em-demo {
        color: var(--text-em);
    }
}
body.even-more-emphasis {
    h1, h2, h3, h4, h5, h6, a, *.em-demo {
        color: var(--text-em2);
    }
}
body.another-emphasis {
    h1, h2, h3, h4, h5, h6, a, *.em-demo {
        color: var(--text-cite);
    }
}

body.color-blind {
    em { font-family: Georgia, serif; font-style: italic; }
    strong { font-family: Georgia, serif; font-weight: bold; }
}

body.sparse {
    word-spacing: 2pt;
    h1 { letter-spacing: .05em; }
    h2, h3, h4, h5 { letter-spacing: .1em; }
    h6, p, li, .sp-demo { letter-spacing: .18em; }
    code, pre { letter-spacing: .08; }
}
body.xdense {
    word-spacing: 0;
    h1, h2, h3, h4, h5, h6, p, li, code, span, .sp-demo { letter-spacing: 0; }
}
body.dense {
    word-spacing: .5pt;
    h1, h2, h3, h4, h5 { letter-spacing: .02em; }
    h6, p, li, .sp-demo { letter-spacing: .05em; }
    code, pre { letter-spacing: .025em; }
}

body.large { font-size: 14pt; }
body.xlarge { font-size: 16pt; }
body.xxlarge { font-size: 18pt; }
body.xxxlarge { font-size: 24pt; }
body.xsmall { font-size: 10pt; }
body.small { font-size: 11pt; }

body.dyslexic {
    &, * {
        font-family: 'Open-Dyslexic', sans-serif !important;
    }
}

body.minimal, body.very-minimal {
    border: none;
    outline: none;
    article#--internal-main {
        border: none;
        outline: none;
    }
    h1, .min-demo>code { background: none; }
    code { border-radius: .3em; }
}

body.minimal {
    button {
        box-shadow: none;
        &:hover {
            background-color: var(--text-bg2);
            box-shadow: 0 0 .5em var(--shadow);
        }
        &:active {
            background-color: var(--text-bg2);
            box-shadow: 0 0 .5em var(--text-em2);
        }
    }
}

body.very-minimal {
    h1, h2, h3 { font-family: Arial, sans-serif; }
    button {
        box-shadow: none;
        &:hover {
            background-color: var(--shadow);
            box-shadow: none;
        }
        &:active {
            background-color: var(--text-bg);
            box-shadow: none;
        }
    }
    code {
        outline: none;
        border: none;
        margin-left: 0;
        margin-right: 0;
    }
    div.footnote-definition {
        border: none;
        margin-top: 0;
        margin-bottom: 0;
    }
}

body.hide-buttontext { span.buttontext { display: none; } }
