{% extends "base.html" %}

{% block content -%}

<h1>404 Not Found</h1>

<p><a href='{{config.base_url}}'>Home</a></p>

<p class='simple-toc-label'>Found a bug?</p>
<blockquote class='simple-toc'>
    <p>discord: honey.hop</p>
    <p><a href='mailto:tongyul@andrew.cmu.edu'>My school email</a></p>
    <p><a href='https://getzola.org'>Zola Documentation</a></p>
    <p><a href='https://github.com/tongyul/pages/issues'><code>rain.cule.me</code> issues</a></p>
    <p><a href='https://github.com/tongyul/attention-theme-zola/issues'><em>Attention</em> theme issues</a></p>
</blockquote>

{%- endblock content %}
